/* Custom adjustments to personalize */
h1 {
  font-size: 2.5rem;
}

header.bg-dark {
    background-color: #00274D;
}

header nav ul.nav {
  gap: 20px;
}

section {
  margin-bottom: 30px;
}

btn btn-primary{
background-color: #4FA8FF ;
}